$aprovado: #a7c957;

td.aprovado {
  background-color: $aprovado;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
}

img {
  display: block;
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #fefae0c5;
}

.container {
  max-width: 800px;
  margin: 0 auto;

  header {
    h1 {
      font-weight: 800;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  form {
    input,
    button {
      border-radius: 5px;
      padding: 0.5rem 0.75rem;
      border: 1px solid rgba($color: #000000, $alpha: 0.5);
    }

    input {
      width: 200px;
    }

    button {
      background-color: $aprovado;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        filter: brightness(85%);
      }
    }
  }

  table {
    margin-top: 2rem;
    width: 80%;
    text-align: center;
    gap: 2 0px;
    th {
      padding: 10px 20px;
      border-bottom: 1px solid #000000;
    }
    td {
      padding: 10px 0;
    }

    tfoot {
      font-weight: 800;
    }
  }
}
